<div class="component">
    <div class="row">
        <!--top row with cards and ad-->
        <div class="row">
            <div class="col">
                <h1 style="color: lightgray;"><strong>IN THE NEWS</strong></h1>
                <div class="row">
                    <div class="col-3">
                        <div class="card"  style="width: 13rem;">
                            <img src="./assets/placeholder.png" class="card-img-top" alt="..." width=30>
                            <div class="card-body">
                            <p class="card-text"><strong>Review: Random set</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card"  style="width: 13rem;">
                            <img src="./assets/placeholder.png" class="card-img-top" alt="..." width=30>
                            <div class="card-body">
                            <p class="card-text"><strong>Random interview</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card"  style="width: 13rem;">
                            <img src="./assets/placeholder.png" class="card-img-top" alt="..." width=30>
                            <div class="card-body">
                            <p class="card-text"><strong>Review: Random set</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                AD IS HERE
            </div>
        </div>
    </div>
    <p><br></p>
    <div class="row">
        <!--row underneath with columns-->
        <div class="col">
            <!--card columns-->
            <div class="card mb-3">
                <!--first card-->
                <div class="row g-0">
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title"><strong>Review</strong></h5>
                      <p class="card-text">Text text text text text</p>
                      <p class="card-text">Text text text text text</p>
                      <p class="card-text">Text text text text text</p>
                      <p style="color: lightskyblue;"><strong>Continue reading >></strong></p>
                      <p>Comments</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <img src="./assets/placeholder.png" class="img-fluid rounded-start" alt="...">
                  </div>
                </div>
                <div class="card mb-3">
                    <!--second card-->
                    <div class="row g-0">
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title"><strong>Review</strong></h5>
                          <p class="card-text">Text text text text text</p>
                          <p class="card-text">Text text text text text</p>
                          <p class="card-text">Text text text text text</p>
                          <p style="color: lightskyblue;"><strong>Continue reading >></strong></p>
                          <p>Comments</p>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <img src="./assets/placeholder.png" class="img-fluid rounded-start" alt="...">
                      </div>
                    </div>
                  </div>
              </div>
        </div>
        <div class="col-4">
            <h3 style="font-family: 'Times New Roman', Times, serif;">Shopping for Lego?</h3>
            <p>Many images</p>
            <p><br></p>
            <h3 style="font-family: 'Times New Roman', Times, serif;">Site updates</h3>
            <p>MINI ROUTER LINK MENU</p>
        </div>
    </div>
</div>
