<div class="card" style="background-color: lightgray;">
    <div class="component">
        <div class="row">
        <div class="col">
            <h1 style="font-family: 'Times New Roman', Times, serif;">
                <strong>Our database</strong>
            </h1>
        </div>
        <div class="col">
            <h3 style="font-family: 'Times New Roman', Times, serif;">
                Sets
            </h3>
            <p>Our database contains over 17,000 sets and other items released over the last 70 years</p>
            <ul style="list-style-type:none;">
                <li><strong>>>Browse sets</strong></li>
                <li><strong>>>Themes and years</strong></li>
                <li><strong>>>Tags</strong></li>
                <li><strong>>>Minifig name tags</strong></li>
                <li><strong>>>Grouped by release year and month</strong></li>
                <li><strong>>>Grouped by theme and release year</strong></li>
              </ul>
        </div>
        <div class="col">
            <h3 style="font-family: 'Times New Roman', Times, serif;">
                Minifigs
            </h3>
            <p>Information on over 12,000 minifigs, displayed here courtesy of <br> BrickLink.com</p>
            <ul style="list-style-type:none;">
                <li><strong>>>Browse minifigs</strong></li>
                <li><strong>>>Categories and years</strong></li>
                <li><strong>>>Character names</strong></li>
                <li><strong>>>Tags</strong></li>
            </ul>
        </div>
        <div class="col">
            <h3 style="font-family: 'Times New Roman', Times, serif;">
                Parts
            </h3>
            <p>Our database of parts, obtained directly from LEGO, contains information on over 45,000 items</p>
            <ul style="list-style-type:none;">
                <li><strong>>>Browse parts</strong></li>
                <li><strong>>>Categories and years</strong></li>
                <li><strong>>>Colours</strong></li>
            </ul>
        </div>
    </div>
    </div>
</div>