<nav class="navbar">
    <ul class="nav d-grid gap-2 d-flex container-fluid">
        <div class="dropdown">
            <button class="btn button1 dropdown-toggle mx-4" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><strong>BROWSE</strong></button>
            <ul class="dropdown-menu dm1 multi-column columns-2" aria-labelledby="dropdownMenuButton1"> 
                <div class="row">
                <div class="col-sm-6">
                <ul class="multi-column-dropdown">
                <li><hr class="dropdown-divider"></li>
                <li><strong>BROWSE OUR DATABASE</strong></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sets</a></li>
                <li><a class="dropdown-item" href="#">Minifigs</a></li>
                <li><a class="dropdown-item" href="#">Parts</a></li>
                <li><a class="dropdown-item" href="#">Colors</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#">Instructions</a></li>
                <li><a class="dropdown-item" href="#">Inventories</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#">BrickLists</a></li>
                <li><a class="dropdown-item" href="#">Queries</a></li>
                <li><a class="dropdown-item" href="#">User Reviews</a></li>
                <li><a class="dropdown-item" href="#">News and Staff Reviews</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><strong>SETS BY YEAR</strong></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">2021</a></li>
                <li><a class="dropdown-item" href="#">2020</a></li>
                <li><a class="dropdown-item" href="#">2019</a></li>
                <li><a class="dropdown-item" href="#">2018</a></li>
                <li><a class="dropdown-item" href="#">2017</a></li>
                <li><a class="dropdown-item" href="#">2016</a></li>
                <li><a class="dropdown-item" href="#">Earlier</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><strong>NEW AT BRICKSET</strong></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">New in the Database</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                </ul>
                </div>
                <div class="col-sm-6">
                <ul class="multi-column-dropdown">
                <li><hr class="dropdown-divider"></li>
                <li><strong>NEW FOR 2021</strong></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">BrickHeadz</a></li>
                <li><a class="dropdown-item" href="#">City</a></li>
                <li><a class="dropdown-item" href="#">Classic</a></li>
                <li><a class="dropdown-item" href="#">Collectable Minifigures</a></li>
                <li><a class="dropdown-item" href="#">Creator</a></li>
                <li><a class="dropdown-item" href="#">Creator Expers</a></li>
                <li><a class="dropdown-item" href="#">Disney</a></li>
                <li><a class="dropdown-item" href="#">Dots</a></li>
                <li><a class="dropdown-item" href="#">Friends</a></li>
                <li><a class="dropdown-item" href="#">Harry Potter</a></li>
                <li><a class="dropdown-item" href="#">Ideas</a></li>
                <li><a class="dropdown-item" href="#">Marvel Superheroes</a></li>
                <li><a class="dropdown-item" href="#">Minecraft</a></li>
                <li><a class="dropdown-item" href="#">Monkie Kid</a></li>
                <li><a class="dropdown-item" href="#">Ninjago</a></li>
                <li><a class="dropdown-item" href="#">Seasonal</a></li>
                <li><a class="dropdown-item" href="#">Speed Champions</a></li>
                <li><a class="dropdown-item" href="#">Star Wars</a></li>
                <li><a class="dropdown-item" href="#">Super Mario</a></li>
                <li><a class="dropdown-item" href="#">Technic</a></li>
                <li><a class="dropdown-item" href="#">Vidyo</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#">Polybags</a></li>
                <li><a class="dropdown-item" href="#">18+</a></li>
                <li><a class="dropdown-item" href="#">Direct to consumer</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                </ul>
                </div>
                </div>
              </ul>
        </div>
        <div class="dropdown">
            <button class="btn button2 btn-success dropdown-toggle mx-4" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><strong>BUY</strong></button>
            <ul class="dropdown-menu dm2 multi-column columns-2" aria-labelledby="dropdownMenuButton1">
                <div class="row">
                <div class="col-sm-6">
                <ul class="multi-column-dropdown">
                <li><hr class="dropdown-divider"></li>
                <li><strong>SHOPPING FOR LEGO?</strong></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Top LEGO bargins</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><strong>BUY AT AMAZON</strong></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Amazon price comparator</a></li>
                <li><a class="dropdown-item" href="#">Discounts at Amazon.com</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><strong>BUY AT EBAY</strong></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">eBay product search</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><strong>BUY AT CATAWIKI</strong></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Auction lots at Catawiki</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                </ul>
                </div>
                <div class="col-sm-6">
                <ul class="multi-column-dropdown">
                <li><hr class="dropdown-divider"></li>
                <li><strong>BUY AT LEGO.COM</strong></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">New items at LEGO.com</a></li>
                <li><a class="dropdown-item" href="#">Discounts at LEGO.com</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><strong>BUY AT BRICKLINK</strong></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Discounts at BrickLink.com</a></li>
                <li><a class="dropdown-item" href="#">Discounted LEGO products</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><strong>MORE...</strong></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">View all discounts in United States</a></li>
                <li><a class="dropdown-item" href="#">See what's new in United States</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                </ul>
                </div>
                </div>
            </ul>
        </div>
        <button class="btn btn-info mx-4"><strong>MY SETS</strong></button>
        <button class="btn btn-primary mx-4"><strong>FORUM</strong></button>
        <div class="dropdown">
            <button class="btn button5 btn-warning dropdown-toggle mx-4" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false"><strong>MORE...</strong></button>
            <ul class="dropdown-menu dm3 multi-column columns-2" aria-labelledby="dropdownMenuButton1">
                <div class="row">
                <div class="col-sm-6">
                <ul class="multi-column-dropdown">
                <li><hr class="dropdown-divider"></li>
                <li><strong>LISTS</strong></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Index of staff reviews</a></li>
                <li><a class="dropdown-item" href="#">Index of video reviews</a></li>
                <li><a class="dropdown-item" href="#">Top reviewers</a></li>
                <li><a class="dropdown-item" href="#">Members</a></li>
                <li><a class="dropdown-item" href="#">LEGO set designers' BrickLists</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><strong>LIBRARY</strong></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Catalogues</a></li>
                <li><a class="dropdown-item" href="#">Ideas Books</a></li>
                <li><a class="dropdown-item" href="#">More...</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><strong>TOOLS</strong></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Web services</a></li>
                <li><a class="dropdown-item" href="#">RSS feeds</a></li>
                <li><a class="dropdown-item" href="#">Brickset apps</a></li>
                <li><a class="dropdown-item" href="#">Subscribe to news by email</a></li>
                <li><a class="dropdown-item" href="#">Subscribe to our newsletter</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                </ul>
                </div>
                <div class="col-sm-6">
                <ul class="multi-column-dropdown">
                <li><hr class="dropdown-divider"></li>
                <li><strong>HELP</strong></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Help with searching</a></li>
                <li><a class="dropdown-item" href="#">FAQ / Hoe do I...</a></li>
                <li><a class="dropdown-item" href="#">Tutorials</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><strong>ABOUT BRICKSET</strong></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">About the site</a></li>
                <li><a class="dropdown-item" href="#">Change log</a></li>
                <li><a class="dropdown-item" href="#">Privacy and cookies</a></li>
                <li><a class="dropdown-item" href="#">Novelty policy</a></li>
                <li><a class="dropdown-item" href="#">Affiliate marketing disclosure</a></li>
                <li><a class="dropdown-item" href="#">Advertising at Brickset</a></li>
                <li><a class="dropdown-item" href="#">Infographic</a></li>
                <li><a class="dropdown-item" href="#">Site map</a></li>
                <li><a class="dropdown-item" href="#">Suggest an idea for improvement</a></li>
                <li><a class="dropdown-item" href="#">Contact us</a></li>
                </ul>
                </div>
                </div>
            </ul>
        </div>
        <button class="btn btn-danger mx-4"><strong>MY MENU</strong></button>
    </ul>
</nav>