<nav class="navbar bg-light">
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href='#'><img src="BricksetLogo.png" alt="logo" width=140 height=90></a></li>
    </ul>
    <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link text-secondary" href='#'><strong>LOG IN</strong></a></li>
        <li class="nav-item"><a class="nav-link text-secondary" href='#'><strong>SIGN UP</strong></a></li>
        <li class="nav-item"><a class="nav-link text-secondary" href='#'><strong>DARK</strong></a></li>
        <button>Country</button>
    </ul>
</nav>