<nav class="navbar bg-light">
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" routerLink="/home"><img src="./assets/BricksetLogo.png" alt="logo" width=200></a></li>
    </ul>
    <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link text-secondary" href='#'><strong>LOG IN</strong></a></li>
        <li class="nav-item"><a class="nav-link text-secondary" href='#'><strong>SIGN UP</strong></a></li>
        <li class="nav-item"><a class="nav-link text-secondary" href='#'><strong>DARK</strong></a></li>
        <button class="button ps-0 pe-0 pt-0 pb-0"><img src="./assets/flagcircle.png" width=40></button>
    </ul>
</nav>