<nav class="navbar bg-light justify-content-end">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
    <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">all</button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">sets</a></li>
        <li><a class="dropdown-item" href="#">minifigs</a></li>
        <li><a class="dropdown-item" href="#">parts</a></li>
        <li><a class="dropdown-item" href="#">bricklists</a></li>
        <li><a class="dropdown-item" href="#">news</a></li>
        <li><a class="dropdown-item" href="#">members</a></li> 
    </ul>
    <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
</nav>