<nav class="navbar bg-light">
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href='#'><img src="Brickset Logo.png" alt="logo" width=140 height=90></a></li>
    </ul>
    <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link text-secondary" href='#'><strong>LOG IN</strong></a></li>
        <li class="nav-item"><a class="nav-link text-secondary" href='#'><strong>SIGN UP</strong></a></li>
        <li class="nav-item"><a class="nav-link text-secondary" href='#'><strong>DARK</strong></a></li>
        <button>Country</button>
    </ul>
</nav>

<nav class="navbar bg-light justify-content-end">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
    <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">all</button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">sets</a></li>
        <li><a class="dropdown-item" href="#">minifigs</a></li>
        <li><a class="dropdown-item" href="#">parts</a></li>
        <li><a class="dropdown-item" href="#">bricklists</a></li>
        <li><a class="dropdown-item" href="#">news</a></li>
        <li><a class="dropdown-item" href="#">members</a></li> 
    </ul>
    <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
</nav>

<nav class="navbar">
    <ul class="nav">
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">BROWSE</button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><hr class="dropdown-divider"></li>
                <li><strong>BROWSE OUR DATABASE</strong></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sets</a></li>
                <li><a class="dropdown-item" href="#">Minifigs</a></li>
                <li><a class="dropdown-item" href="#">Parts</a></li>
                <li><a class="dropdown-item" href="#">Colors</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#">Instructions</a></li>
                <li><a class="dropdown-item" href="#">Inventories</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#">BrickLists</a></li>
                <li><a class="dropdown-item" href="#">Queries</a></li>
                <li><a class="dropdown-item" href="#">User Reviews</a></li>
                <li><a class="dropdown-item" href="#">News and Staff Reviews</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><strong>SETS BY YEAR</strong></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">2021</a></li>
                <li><a class="dropdown-item" href="#">2020</a></li>
                <li><a class="dropdown-item" href="#">2019</a></li>
                <li><a class="dropdown-item" href="#">2018</a></li>
                <li><a class="dropdown-item" href="#">2017</a></li>
                <li><a class="dropdown-item" href="#">2016</a></li>
                <li><a class="dropdown-item" href="#">Earlier</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><strong>NEW AT BRICKSET</strong></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">New in the Database</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><strong>NEW FOR 2021</strong></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">List of themes</a></li>
              </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">BUY</button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><hr class="dropdown-divider"></li>
                <li><strong>SHOPPING FOR LEGO?</strong></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Top LEGO bargins</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><strong>BUY AT AMAZON</strong></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Amazon price comparator</a></li>
                <li><a class="dropdown-item" href="#">Discounts at Amazon.com</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><strong>BUY AT EBAY</strong></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">eBay product search</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><strong>BUY AT CATAWIKI</strong></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Auction lots at Catawiki</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><strong>BUY AT LEGO.COM</strong></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">New items at LEGO.com</a></li>
                <li><a class="dropdown-item" href="#">Discounts at LEGO.com</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><strong>BUY AT BRICKLINK</strong></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Discounts at BrickLink.com</a></li>
                <li><a class="dropdown-item" href="#">Discounted LEGO products</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><strong>MORE...</strong></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">View all discounts in United States</a></li>
                <li><a class="dropdown-item" href="#">See what's new in United States</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
            </ul>
        </div>
        <button class="btn btn-info">MY SETS</button>
        <button class="btn btn-primary">FORUM</button>
        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">MORE...</button>
            <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
                <li><hr class="dropdown-divider"></li>
                <li><strong>LISTS</strong></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Index of staff reviews</a></li>
                <li><a class="dropdown-item" href="#">Index of video reviews</a></li>
                <li><a class="dropdown-item" href="#">Top reviewers</a></li>
                <li><a class="dropdown-item" href="#">Members</a></li>
                <li><a class="dropdown-item" href="#">LEGO set designers' BrickLists</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><strong>LIBRARY</strong></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Catalogues</a></li>
                <li><a class="dropdown-item" href="#">Ideas Books</a></li>
                <li><a class="dropdown-item" href="#">More...</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><strong>TOOLS</strong></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Web services</a></li>
                <li><a class="dropdown-item" href="#">RSS feeds</a></li>
                <li><a class="dropdown-item" href="#">Brickset apps</a></li>
                <li><a class="dropdown-item" href="#">Subscribe to news by email</a></li>
                <li><a class="dropdown-item" href="#">Subscribe to our newsletter</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><strong>HELP</strong></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Help with searching</a></li>
                <li><a class="dropdown-item" href="#">FAQ / Hoe do I...</a></li>
                <li><a class="dropdown-item" href="#">Tutorials</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><strong>ABOUT BRICKSET</strong></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">About the site</a></li>
                <li><a class="dropdown-item" href="#">Change log</a></li>
                <li><a class="dropdown-item" href="#">Privacy and cookies</a></li>
                <li><a class="dropdown-item" href="#">Novelty policy</a></li>
                <li><a class="dropdown-item" href="#">Affiliate marketing disclosure</a></li>
                <li><a class="dropdown-item" href="#">Advertising at Brickset</a></li>
                <li><a class="dropdown-item" href="#">Infographic</a></li>
                <li><a class="dropdown-item" href="#">Site map</a></li>
                <li><a class="dropdown-item" href="#">Suggest an idea for improvement</a></li>
                <li><a class="dropdown-item" href="#">Contact us</a></li>
            </ul>
        </div>
        <button class="btn btn-danger">MY MENU</button>
    </ul>
</nav>