<app-log-in-bar></app-log-in-bar>
<app-search-bar></app-search-bar>
<app-buttons-bar></app-buttons-bar>

<p><strong>To Do</strong></p>
<p>Form</p>
<ul>
    <li><del>"Pretty-up" code</del></li>
    <li>Fix image in top left</li>
    <li>Change Browse button to light green</li>
    <li>Change country button to circle and put image in it</li>
    <li>change dpdn background colors</li>
    <li><del>right align "all" dpdn menu</del></li>
    <li>change "all" button to white</li>
</ul>
<p>Function</p>
<ul>
    <li><del>Search bar under top right nav bar</del></li>
    <li><del>rest of browse dpdn menu</del></li>
    <li><del>list of themes in browse</del></li>
    <li><del>buy dpdn menu</del></li>
    <li><del>more dpdn menu</del></li>
</ul>