<app-log-in-bar></app-log-in-bar>
<app-search-bar></app-search-bar>
<app-buttons-bar></app-buttons-bar>

<p></p>
<p><strong>Home</strong> > Your Collection</p>
<p></p>
<p></p>

<ul class="nav d-grid gap-2 d-flex">
    <li><app-my-sets></app-my-sets></li>
    <li><app-minifigs></app-minifigs></li>
</ul>

<app-daily-bugle></app-daily-bugle>

<p><strong>To Do</strong></p>
<ul>
    <li>"Pretty-up" code</li>
    <li><del>Change Browse button to light green</del></li>
    <li><del>Change country button to circle</del> and put image in it</li>
    <li><del>change dpdn background colors</del></li>
    <li><del>change "all" button to white</del></li>
    <li><del>Fix dpdn col width</del></li>
    <li>bootstrap icons</li>
    <li><del>Fix button width</del></li>
    <li>Make buttons hover</li>
    <li><del>Pill fill in on hover</del></li>
    <li><del>Correct cards</del></li>
</ul>


https://www.w3schools.com/css/css_dimension.asp

https://jhooq.com/github-permission-denied-publickey/#linkedinshare

