<div class="card mb-3 ms-4" style="max-width: 800px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="./assets/dailybugle.jpeg" class="img-fluid rounded-start ms-5" alt="dailybugle" style="height:300px;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title"><strong>76178: Daily Bugle</strong></h3>
          <nav class="navbar">
            <ul class="nav d-grid gap-2 d-flex">
                <li><button class="button" type="button">76178-1</button></li>
                <li><button class="button" type="button">MARVEL SUPER HEROES</button></li>
                <li><button class="button" type="button">SPIDER-MAN</button></li>
                <li><button class="button" type="button">2021</button></li>
            </ul>
          </nav>
          <div class="sameline">
            <p class="card-text topic"><strong>PIECES</strong></p>
            <p class="card-text follow">3772</p>
          </div>
          <div class="sameline">
            <p class="card-text topic"><strong>MINIFIGS</strong></p>
            <p class="card-text follow">25</p>
            <p class="card-text">(19 Unique to this set)</p>
          </div>
          <div class="sameline">
            <p class="card-text topic"><strong>RRP</strong></p>
            <p class="card-text">$299.99, 299.99€ |</p>
            <p class="card-text follow">More</p>
          </div>
          <div class="sameline">
            <p class="card-text topic"><strong>AVAILABILITY</strong></p>
            <p class="card-text">LEGO Exclusive</p>
          </div>
        </div>
      </div>
    </div>
  </div>