<div class="card" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title"><strong>Minifigs</strong></h3>
          <p class="card-text">Brickset automatically analyses the sets you own to determine the minifigs you own. You can also record those you own that are not from sets.</p>
          <p class="card-text"></p>
          <p class="card-text"><a href="#">Log in to Brickset</a> to start using this feature.</p>
        </div>
      </div>
      <div class="col-md-4">
        <img src="./assets/jorel.png" class="img-fluid rounded-start mt-4" alt="minifigs">
      </div>
    </div>
  </div>