<div class="card" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title"><strong>Sets</strong></h3>
          <p class="card-text">Brickset makes it easy to keep track of your LEGO collection and the sets you want.</p>
          <p class="card-text"></p>
          <p><br></p>
          <p class="card-text"><a href="#">Log in to Brickset</a> to start using this feature.</p>
        </div>
      </div>
      <div class="col-md-4">
        <img src="./assets/cementmixer.png" class="img-fluid rounded-start mt-4" alt="mysets">
      </div>
    </div>
  </div>