<div class="component">
    <div class="row">
        <div class="col-3">
            <p><strong>Home</strong> > Shopping for Lego?</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!--left side-->
            <h1><Strong><div style="font-family: 'Times New Roman', Times, serif;">Shopping for Lego?</div></Strong></h1>
            <h4 style="font-family: 'Times New Roman', Times, serif;">Top discounts and new sets</h4>
            <div class="row">
                <div class="col-1">
                    <!--lego button-->
                    <div class="dropdown">
                        <button class="ps-0 pe-0 pt-0 pb-0 dropdown-toggle" type="button" data-bs-toggle="dropdown"><img src="./assets/legologo.png" alt="logo" width=50></button>
                            <ul class="dropdown-menu">
                                <li>item1</li>
                                <li>item2</li>
                            </ul>
                    </div>
                </div>
                <div class="col-1">
                    <!--amazon button-->
                    <div class="dropdown">
                        <button class="ps-3 pe-0 pt-0 pb-0 dropdown-toggle" type="button" data-bs-toggle="dropdown"><img src="./assets/amazonlogo.png" alt="logo" height=50></button>
                            <ul class="dropdown-menu">
                                <li>item1</li>
                                <li>item2</li>
                            </ul>
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="col-1 pe-0"></div>
                <div class="col-1 ps-0">
                    <!--bricklink button-->
                    <div class="dropdown">
                        <button class="ps-0 pe-0 pt-0 pb-0 dropdown-toggle" type="button" data-bs-toggle="dropdown"><img src="./assets/bricklinklogo.png" alt="logo" height=50></button>
                            <ul class="dropdown-menu">
                                <li>item1</li>
                                <li>item2</li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <!--right side-->
            <h3 style="font-family: 'Times New Roman', Times, serif;">Amazon bargain watch</h3>
            <p>We've teamed up with DrDave from GimmeLEGO to bring you automatically updated lists that show discounts at Amazon sites across the globe:</p>
            <ul style="list-style-type:none;">
                <li>>>Amazon.com</li>
                <li>>>Amazon.co.uk</li>
                <li>>>Amazon.ca</li>
                <li>>>Amazon.es</li>
                <li>>>Amazon.fr</li>
                <li>>>Amazon.it</li>
                <li>>>Amazon.de</li>
                <li>>>Amazon.com.au</li>
              </ul>
              <h3 style="font-family: 'Times New Roman', Times, serif;">Brickset merchandise</h3>
              <p>Check out the range of Brickset T-shirts, hoodies, mugs, phone cases, stickers and more in our merchandise store.</p>
              <img src="./assets/bricksetmerch.jpg" alt="logo">
        </div>
    </div>
</div>
