<div class="row">
    <div class="col-2">
        <p><strong>Home</strong> > More...</p>
    </div>
</div>
<div *ngFor="let setcard of setcards">
    <set-card imgPath={{setcard.imgPath}}
    setName={{setcard.setName}}
    setNumber={{setcard.setNumber}}
    altId={{setcard.altId}}
    setTheme={{setcard.setTheme}}
    setSubtheme={{setcard.setSubtheme}}
    setYear={{setcard.setYear}}
    pieceCount={{setcard.pieceCount}}
    setFigs={{setcard.setFigs}}
    figExtra={{setcard.figExtra}}
    setRrp={{setcard.setRrp}}
    setAvail={{setcard.setAvail}}></set-card>
</div>
