<div class="component">
    <div class="row">
        <div class="col-2" style="background: gold">
            L
        </div>
        <div class="col" style="background: blue">
            R
        </div>
        <app-log-in-bar></app-log-in-bar>
    </div>
    <div class="row">
        <app-search-bar></app-search-bar>
    </div>
    <div class="row">
        <app-buttons-bar></app-buttons-bar>
    </div>
    <div class="row">
        <div class="col-2">
            <p><strong>Home</strong> > Your Collection</p>
        </div>
    </div>
    <div class="row">
        <div class="col offset-md-1">
            <app-my-sets></app-my-sets>
        </div>
        <div class="col">
            <app-minifigs></app-minifigs>
        </div>
    </div>
</div>