<div class="component">
    <div class="row" style="height: 100px;">
        <!--header white area-->
    </div>
    <div class="row">
        <div class="col-1" style="background: white">
            <!--left side white area-->
        </div>
        <div class="col ps-0 pe-0" style="background: white">
            <app-log-in-bar></app-log-in-bar>
            <app-search-bar></app-search-bar>
            <app-buttons-bar></app-buttons-bar>
            <div class="row">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="col-1" style="background:white">
            <!--right side white area-->
        </div> 
    </div>
</div>