<div class="component">
    <div class="row">
        <div class="col-2">
            <p><strong>Home</strong> > Your Collection</p>
        </div>
    </div>
    <div class="row" style="height: 50%;">
        <div class="col-1"></div>
        <div class="col ps-0 pe-0">
            <app-my-sets-card></app-my-sets-card>
        </div>
        
        <div class="col ps-0 pe-0">
            <app-minifigs></app-minifigs>
        </div>
        <div class="col-1"></div>
    </div>    
</div>

<add-my-set-form></add-my-set-form>

<my-set-card></my-set-card>
//ngforloop
